
.jumbotron {
  background-image:url('http://4.bp.blogspot.com/-QxOBUinV_7o/UrDIPyySb3I/AAAAAAAAM5w/-rf_kptaxcQ/s1600/Seamless_White_Brick_Texture.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: rgba(28, 28, 27, 0.55);
  font-size: 100px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.services {
 
}

.description{
   border-top: 8px solid #325d88;
   text-align: center;
   height:400px;
   box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

div.img {
    padding: 25px;
    max-height: 100%;
    max-width: 100%;
}

.down-arrow-icon {
  position: relative;
  left: -50%;
  vertical-align: bottom;
  margin-bottom: 100px;
  width: 60px;
  transition: transform 0.2s ease;
  opacity: 0.6;
}





