
.jumbotron {
  background-image:url('http://4.bp.blogspot.com/-QxOBUinV_7o/UrDIPyySb3I/AAAAAAAAM5w/-rf_kptaxcQ/s1600/Seamless_White_Brick_Texture.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: rgba(28, 28, 27, 0.55);
  font-size: 120px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.services {
 
}

.services img{
  width: 100%;
}

.service {
   border-top: 8px solid #325d88;
   text-align: center;
   height: auto;
   box-shadow: 0 4px 6px rgba(0,0,0,0.2);
   margin-bottom: 80px;
}

p {
  font-size: 15px;
}

.well :hover {
  cursor: pointer;
}
}

div .img {
    padding: 25px;
    max-height: 100%;
    max-width: 100%;
}

.down-arrow-icon {
  position: relative;
  left: -50%;
  vertical-align: bottom;
  margin-bottom: 100px;
  width: 60px;
  transition: transform 0.2s ease;
  opacity: 0.6;
}

.about {
  padding-top: 75px;
  margin-bottom: 75px;
}

.about h2 {
  margin-top: 0px;
}

.about img {
  width: 100%;
  border-radius: 150px;
  border: solid #325d88 10px;
}

.building {
  background-image: url(building.jpg);
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
}

.projects {
  margin: 50px 0 50px 0;
  color: black;
}

.projects h2 {
  color: #325d88;
}

.projects :hover {
  color: #777;
}

a {
  color: black;
}




.shaded {
  background: #ddd;
}

.project-pic
{
  width: 100%;
  border-radius: 35px;
}

.project-header h1 {
  font-size: 85px;
  text-decoration: ;
  text-align: center;
}

.sub-header
{
  background-color: none;
  font-size: 100px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform-origin: left top 0;
  position: relative;
  bottom: 150px;
  left: -10px;
  height: 0;
  padding-bottom: 25px;
  float: left;
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #563d7c;
}

.contact img {
  max-width: 100%;
  max-width: 100%;
}

.contact {
  background: none;
  /*border: #325d88 solid 3px;*/
  margin: auto;
  /*margin: 10px -10px 0px -10px;*/
}

.contact p {
  text-align: left;
  font-size: 160%;
}

.right p {
  text-align: right;
}

